{% extends "base.html" %} {% block title %}Home{% endblock %}

<style>
    .fakeimg {
      height: 200px;
      background: #aaa;
    }
</style>


<div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        <h2>Nosotros</h2>
         <h4>Buscamos el bienestar y salud de todos nuestros residentes</h4>
         <p>En nuestra residencia nos encargamos que cada paciente que ingrese reciba
           la mejor atención y cuidado. Tenemos los mejores profesionales
         </p>
        <hr class="d-sm-none">
      </div>
      
      <div class="col-sm-8">
        <h2>Historia</h2>
        <p>Comenzamos hace unos 25 años cuidando a nuestros pacientes de la tercera edad
          con mucho cariño y paciencia que se merecen.
        </p> </p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <br>
        <h2>Nuestro centro</h2>
        <div class="fakeimg">Fake Image</div>
        <p>Imagen de la fachada</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
    </div>      
  </div>
  

  <div class="jumbotron text-center" style="margin-bottom:0">
    <p>Proyecto del curso de Base de datos y plataformas - 2021</p>
  </div>
 
