{% extends "base.html" %} {% block title %}Registro{% endblock %}

{% block content %}  
<div class = 'hidden' role = 'alert' id = 'mensaje'>
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<h1>Pagina de Registro</h1>
<form id = 'form_paciente'>
    <h3 align='center'>Registro</h3>
    <div class="form-group">
        <label for="email">DNI</label>
        <input
          type="text"
          class="form-control"
          id="dni"
          name="dni"  
          placeholder="DNI"
        /> <!--el name es para reconocerlo en el backend-->
      </div>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          name="nombre"
          placeholder="Ingresar nombre"
        />
      </div>
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input
          type="text"
          class="form-control"
          id="apellido"
          name="apellido"
          placeholder="Ingresar apellido"
        />
      </div>
      <div class="form-group">
        <label for="edad">Edad</label>
        <input
          type="text"
          class="form-control"
          id="edad"
          name="edad"
          placeholder="Ingresar edad"
        />
      </div>
      <div class="form-group">
        <label for="habitacion">Habitacion</label>
        <input
          type="text"
          class="form-control"
          id="habitacion"
          name="habitacion"
          placeholder="Ingresar habitacion"
        />
      </div>
      <div class="form-group">
        <label for="residencia">Residencia</label>
        <select class = 'form-control' name = 'residencias' id = 'residencias'>
          <option value = 1>San Juan</option>
          <option value = 2>Los Portales</option>
        </select>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
  document.getElementById('form_paciente').onsubmit = function(e) {
  e.preventDefault();
  const residencia_id = document.getElementById('residencias').value
  const paciente_id = document.getElementById('dni').value
  fetch('/pacientes/' + paciente_id + '/registrar', {
    method: 'POST',
    body: JSON.stringify({
      'nombre': document.getElementById('nombre').value,
      'apellido': document.getElementById('apellido').value,
      'edad': document.getElementById('edad').value,
      'habitacion': document.getElementById('habitacion').value,
      'residencia_id': residencia_id
    }),
    headers: {
      'Content-Type': 'application/json'
    }
  }).then(function(response) {
    return response.json()
  }).then(function (jsonResponse) {
    if (jsonResponse['error'] === false) {
      document.getElementById('mensaje').className = 'alert alert-success alter-dismissable fade show'
      document.getElementById('mensaje').innerHTML = jsonResponse['message']
      document.getElementById('form_paciente').reset()
    }
    else {
      document.getElementById('mensaje').className = 'alert alert-warning alter-dismissable fade show'
      document.getElementById('mensaje').innerHTML = jsonResponse['message']
    }
  })
}
</script>
{% endblock %}
